<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="/css/style-game.css">
    <title>ROCK PAPER SCISSORS</title>
</head>
<body>
    <div class="logo">
        <i class="fas fa-less-than fa-3x"></i>
        <img class="logo1" src="/img/assets-game/logo1.png" alt="logo1">
        <h2 class="logo-child">ROCK PAPER SCISSORS</SCript></h2>
    </div>
    <div class="container">
        <div class="player1">
            <h2>PLAYER 1</h2>
            <div id="backgroundRock">
                <img class="player1-hand hand rock" src="/img/assets-game/batu.png" id="player1-rock" alt="rock1" width="90px">
            </div>
            <div id="backgroundPaper">
                <img class="player-1-hand hand paper" src="/img/assets-game/kertas.png" id="player1-paper" alt="paper1" width="90px">
            </div>
            <div id="backgroundScissors">
                <img class="player1-hand hand scissors" src="/img/assets-game/gunting.png" id="player1-scissors" alt="scissors1" width="90px">
            </div>
        </div>
        <div class="vs">
            <div class="only-vs">
                <h1 class="result-text">VS</h1>
            </div>
        <div class="refresh">
            <a href="#"><img class="refresh2" src="/img/assets-game/refresh.png" id="refresh-page" alt="refresh2" width="60px"></a>
        </div>
    </div>
        <div class="com"> 
            <h2>COM</h2>
            <div id="backgroundRock-COM">
                <img src="/img/assets-game/batu.png" class="hand batu" id="comRock" alt="rock1" width="90px" >
            </div>
            <div id="backgroundPaper-COM">
                <img src="/img/assets-game/kertas.png" class="hand kertas" id="comPaper" alt="paper1" width="90px">
            </div>
            <div id="backgroundScissors-COM">
                <img src="/img/assets-game/gunting.png" class="hand gunting" id="comScissors" alt="scissors1" width="90px">
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>

