body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    justify-content: center;
    border: 2px solid rgba(8, 9, 10, 0.5);
    padding: 2em 3em;
}

h1{
    text-align: center;
}

.email, .password, .remember-me, .submit {
    padding: 0.5em;
}

input[type="email"], input[type="password"]{
    width: 200px;
    height: 20px;
}

button {
    width: 200px;
    background-color: #1b0db4;
    border-color: #020527;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 100px;
}